* {
    font-family: 'Telstra Akkurat', Arial, sans-serif;
  }
  
  hr {
    height:1px;
    width:60%;
    margin-left:0%;
    background-color: rgb(148, 148, 148);
    border: none;
  }
  
  .d-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .jumbotron {
    justify-content: space-around;
    width: 100%;
    background-color: #f4f4f4;
  }
  
  .products-list {
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .product {
    flex: 0 0 100%;
    margin-bottom: 1em;
  }
  
  .products-list img {
    width: 100vw;
  }
  /* button color #001E82 */
  button {
    max-width: 140px;
    padding: 13px;
    color: #001e82;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #001e82;
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    .product {
      flex-basis: 50%;
    }
  
    .products-list:nth-child(1) {
      flex-basis: 60%;
    }
    .products-list:nth-child(2) {
      flex-basis: 30%;
    }
  
    .products-list img {
      width: 100%;
    }
  }
